<ion-view view-title="Expeditions">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="reload()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="expedition in expeditions | filter: filterFn"
                      type="item-text-wrap" ui-sref="tab.expedition({id: expedition.id})">

                <h2>{{expedition.title}}</h2>

                <i class="icon ion-ios-arrow-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove($index)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar ng-show="filterActive">
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="clearFilter()">clear filter</button>
        </div>
    </ion-footer-bar>
</ion-view>
