<ion-content>
    <div class="card" ng-hide="isEditing">
        <div class="item item-divider">
            Location Coordinates for {{location.name}}
        </div>
        <div class="item item-text-wrap">
            Latitude: {{location.coords.latitude}}
            <br/>
            Longitude: {{location.coords.longitude}}
            <br/>
            Altitude: {{location.coords.altitude}}
            <br/>
            Heading: {{location.coords.heading}}
        </div>
    </div>
    <div class="card" ng-show="location.notes">
        <div class="item item-divider">
            Notes
        </div>
        <textarea type="text"
                  class="item-text-wrap"
                  ng-model="location.notes"
                  ng-focus="isEditing = true"
                  ng-blur="isEditing = false"
                  placeholder="Notes, description, comments"
                  style="width: 100%; height: 164px;"></textarea>
    </div>
    <button class="button button-block button-positive button-clear"
            ui-sref="tab.assetsForLocation({expeditionId: expedition.id, locationId: location.id})">
        View assets for this location
    </button>
    <button class="button button-block button-positive"
            ui-sref="tab.expedition({id: location.expeditionId})">
        Save
    </button>
</ion-content>

