<ion-modal-view>
    <ion-footer-bar>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="closeNewExpeditionModal()">Cancel</button>
        </div>
    </ion-footer-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Expedition Title" ng-model="newExpedition.title">
            </label>
            <label class="item item-input">
                <span class="input-label">Starts</span>
                <input type="date" step="any" ng-model="newExpedition.starts">
            </label>
            <label class="item item-input">
                <span class="input-label">Ends</span>
                <input type="date" step="any" ng-model="newExpedition.ends">
            </label>
            <div class="spacer"></div>
            <button class="button button-full button-positive"
                    ng-disabled="!(newExpedition.starts && newExpedition.ends && newExpedition.title)"
                    ng-click="startNewExpedition(newExpedition)">
                Start Expedition
            </button>
        </div>
    </ion-content>
</ion-modal-view>
