<ion-footer-bar>
    <div class="buttons">
        <button class="button button-clear item-button-right button-positive"
                ng-disabled="expedition.status === 'complete' || expedition.status === 'submitted'"
                ng-click="completeExpedition()">
            Complete Expedition
        </button>
    </div>
</ion-footer-bar>
<ion-content>
    <ion-list>
        <label class="item item-input">
            <input type="text" placeholder="Expedition Title" ng-model="expedition.title">
        </label>
        <label class="item item-input">
            <span class="input-label">Starts</span>
            <input type="date" ng-model="expedition.starts">
        </label>
        <label class="item item-input">
            <span class="input-label">Ends</span>
            <input type="date" ng-model="expedition.ends">
        </label>
        <div
             ng-class="{
            'item': true,
            'item-stable': expedition.status === 'PENDING',
            'item-energized': expedition.status === 'SUBMITTED',
            'item-assertive': expedition.status === 'REJECTED',
            'item-balanced': expedition.status === 'COMPLETE'
            }">
            Status: {{expedition.status.toLowerCase()}}
        </div>
        <button class="button button-block button-clear button-positive"
                ng-click="openNewLocationModal()">
            Add Location
        </button>
        <button class="button button-block button-clear button-positive"
                ng-click="openExpensesModal()">
            Record Expenses
        </button>
        <div class="spacer"></div>
        <div class="item item-divider">
            Locations
        </div>
        <div class="item" ng-show="expedition.locations.length === 0">
            No locations added yet
        </div>
        <ion-item ui-sref="tab.location({locationId: location.id, expeditionId: expedition.objectId})"
                  class="item-icon-right"
                  item="location"
                  ng-repeat="location in expedition.locations">
            <ion-option-button class="button-assertive"
                               ng-click="removeLocation(location, $index)">
                Delete
            </ion-option-button>
            {{location.name}}
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
    </ion-list>
</ion-content>

