<ion-view view-title="Assets">
    <ion-footer-bar>
        <div class="buttons">
            <button class="button button-clear item-button-right button-positive"
                    ng-click="openModal()">
                Add a New Asset
            </button>
        </div>
    </ion-footer-bar>
    <ion-content>
        <ion-list>
            <div class="card" ng-show="assets.length === 0">
                <div class="item item-text-wrap">
                    No assets have been added yet
                </div>
            </div>
            <div class="list" ng-repeat="asset in assets" ui-sref="tab.asset({id: asset.id})">
                <img ng-src="{{asset.imgSrc}}" width="100%">
                <a class="item item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                    {{asset.name}}
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
