<ion-view>
    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear button-icon icon ion-ios-arrow-left"
                    ui-sref="tab.assets">
                Back
            </button>
        </div>
    </ion-footer-bar>
    <ion-content>
        <div class="list">
            <img ng-src="{{asset.imgSrc}}" width="100%" ng-show="asset.imgSrc">
            <div class="item item-divider" style="margin-top:0">
                {{asset.name}}
            </div>
            <div class="item item-text-wrap" ng-show="asset.notes">
                {{asset.notes}}
            </div>
        </div>
    </ion-content>
</ion-view>
