<ion-view view-title="Assets">
    <ion-footer-bar>
        <div class="buttons">
            <button class="button button-clear item-button-right button-positive"
                    ng-click="goBack()">
                Back
            </button>
        </div>
    </ion-footer-bar>
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="reload()">
        </ion-refresher>
        <ion-list>
            <div class="card" ng-show="assets.length === 0">
                <div class="item item-text-wrap">
                    No assets have been added yet
                </div>
            </div>
            <button class="button button-block button-clear item-button-right button-positive"
                    ng-disabled="expedition.status !== 'NEW'"
                    ng-click="openModal()">
                Add a New Asset
            </button>
            <div class="list" ng-repeat="asset in assets">
                <img ng-src="{{asset.imgSrc}}" width="100%">
                <a class="item item-icon-right">
                    {{asset.name}}
                </a>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
