<ion-modal-view>
    <ion-footer-bar align-title="left">
        <div class="buttons">
            <button class="button button-clear button-positive"
                    ng-click="closeModal()">
                Cancel
            </button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-clear button-positive"
                    ng-disabled="!newAsset.name"
                    ng-click="saveAsset(newAsset)">
                Save
            </button>
        </div>

    </ion-footer-bar>
    <ion-content>
        <div class="list" style="text-align: center;">
            <div class="item item-divider">
                Add a New Asset to {{location.name}}
            </div>
            <div style="text-align: center;">
                <img ng-src="{{newAsset.imgSrc}}" style="display:block;max-width:100%;max-height:300px;width:auto;height: auto;"
                     ng-show="newAsset.imgSrc"/>
            </div>
            <label class="item item-input">
                <input type="text" ng-model="newAsset.name" placeholder="Name">
            </label>
            <label class="item item-input">
                <textarea type="text"
                          ng-model="newAsset.notes"
                          placeholder="Notes, description, comments"
                          style="height: 128px;"></textarea>
            </label>
            <br/>
            <button class="button button-large button-outline button-positive" ng-click="openPhotoOptionsActionSheet()">
                <i class="icon ion-ios-camera"></i>
            </button>
            <p class="positive">Add a Photo</p>
        </div>
    </ion-content>
</ion-modal-view>
